*{
    box-sizing: border-box;
}
body{
    margin: 0;
    width: 100%;
    background: #fff;

}
.container{
    width: 960px;
    margin: 0 auto;
    min-height: 400px;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}
header{
    background: maroon;
    height: 50px;


}
header h1{
    margin: 0;
    font-family: cursive;
    text-align: center;
}

header .right-nav{
    float: right;
    margin-top: 15px;
    margin-right: 20px;
}
header .right-nav a{
    text-decoration: none;
    font-family: Courier;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 10px 15px;
    color: #fff;
    font-weight: 700;

}
header .right-nav a:hover{
    color: #eee;
}
header .left-nav{
    float: left;
    margin-left: 20px;
}
header .left-nav h1 a{
    color: #fff;
    text-decoration: none;
}
header .left-nav h1 a:hover{
    color: #eee;
}
.container .post-entry{
    border-bottom: 1px solid #eee;
    border-radius: 10px;
}
.container .post-entry h2 a{
    text-decoration: none;
    color: #000;
    font-family: Courier;
}
.container .post-entry h2 a:hover{
    border-bottom: 2px solid maroon;
    border-radius: 5px;
}