<!doctype html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django Blog</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
<header>
    <div class="left-nav">
         <h1><a href="/">Django Blog</a></h1>
    </div>
   <div class="right-nav">
        <a href="{% url 'new_post' %}">+ New Blog Posts</a>
   </div>
</header>
{% if user.is_authenticated %}

<p>Hi {{user.username}}</p>
<p><a href="{% url 'logout' %}">Logout</a></p>
{% else %}
<p>You are not logged in.</p>
<p><a href="{% url 'login' %}">Login</a></p>

{% endif %}
<div class="container">
    {% block content %}
    {% endblock content %}
</div>
</body>
</html>