{% extends 'base.html' %}

{% block content %}
<div class="post-entry">
    <h2> {{post.title}}</h2>
    <p>{{post.body}}</p>
</div>
<a href="{% url 'edit_post' post.pk %}"># Edit Post</a>
<br>
<a href="{% url 'delete_post' post.pk %}"># Delete Post</a>

{% endblock%}