{% extends 'base.html' %}

{% block content %}

<h2>SignUp</h2>

<form action="" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="SignUp">
</form>

{% endblock content %}